body{
    height:100%;
    font: size 100%;
    box-sizing:border-box;
    font-family:sans-serif;
    background-color:aliceblue;

}

img{
width: 100%;
opacity: 5;

}

.logo{
position: absolute;
top: 20%;
left: 47%;
}

h1{
position: absolute;
top: 50%;
left: 50%;
color:white;
font-size:64px;
transform: translate(-50%, -50%);
font-family: open sans condensed;
}

h2{
    position:absolute;
    top: 60%;
    left: 50%;
    color:white;
    font-size:64px;
    transform: translate(-50%, -50%);

    }
p{
    position:absolute;
    top: 80%;
    left:27%;
    color:white;
}


.mouse{
    position:absolute;
    bottom: -8%;
    right: 50%;
 }

 .about{
     color:RGB(0, 0, 25) ;
     text-align: center;
     line-height:29px;
 }
 h3{
    padding: 20px 20px;
    font-size: 64px
 }



