/*Extra small devices*/
@media only screen and (max-width:600px){
}
/* Small devices*/
@media only screen and (min-width:600px){

}
/* Medium devices*/
@media only screen and (min-width:768px){

}
/* Large devices*/
@media only screen and (min-width:992px){

}
/* Extra devices*/
@media only screen and (min-width:1200px){

}


body{
    height:100%;
    font: size 100%;
    box-sizing:border-box;
    font-family:sans-serif;
    background-color:aliceblue;

}

img{
width: 100%;
opacity: 5;

}

.logo{
position: absolute;
top: 20%;
left: 47%;
}

h1{
position: absolute;
top: 47%;
left: 50%;
color:white;
font-size:64px;
transform: translate(-50%, -50%);
font-weight: 400;
font-style: normal;
}

h2{
    position:absolute;
    top: 60%;
    left: 50%;
    color:white;
    font-size:64px;
    transform: translate(-50%, -50%);
    font-style:normal;
    font-weight: 400;
    }
p{
    position:absolute;
    top: 80%;
    left:27%;
    color:white;
}


.mouse{
    position:absolute;
    bottom: -8%;
    right: 50%;
 }

 .about{
     text-align: center;
     line-height:25px;
     color: #383838;
     height: 400px;
     
 }

 h3{
    padding: 5px;
    font-size: 64px;
    font-weight:400;
    color: #383838;
    margin-bottom:40px;
 }

.inns{
    z-index: 3;
    position: relative;
    text-align: center;
    color: #fff;
    line-height:25px;
    margin-top: -450px
}

h4{
    font-size: 64px;
    font-weight:400;
    color: #fff;
    margin-top:150px;
}

h5{
    font-size:64px;
    font-weight:400;
    margin-top:150px;
}


.first {
  width: 7%;
  height:auto;
}

.deeds{
    height:50px;
    line-height:20px;
  }

h6{
    font-size:20px;
    font-weight:250;
  }

  .img0 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .cols:hover .img0 {
    opacity: 0.3;
  }
  
  .cols:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #4CAF50;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  }

  .words{
    float: left;
    margin:150px; 
    margin-top:20px; 

  }