/*Extra small devices*/
@media only screen and (max-width:600px){
}
/* Small devices*/
@media only screen and (min-width:600px){

}
/* Medium devices*/
@media only screen and (min-width:768px){

}
/* Large devices*/
@media only screen and (min-width:992px){

}
/* Extra devices*/
@media only screen and (min-width:1200px){

}


body{
    height:100%;
    font: size 100%;
    box-sizing:border-box;
    font-family:sans-serif;
    background-color:aliceblue;

}

img{
width: 100%;
opacity: 5;

}

.logo{
position: absolute;
top: 20%;
left: 47%;
}

h1{
position: absolute;
top: 47%;
left: 50%;
color:white;
font-size:64px;
transform: translate(-50%, -50%);
font-weight: 400;
font-style: normal;
}

h2{
    position:absolute;
    top: 60%;
    left: 50%;
    color:white;
    font-size:64px;
    transform: translate(-50%, -50%);
    font-style:normal;
    font-weight: 400;
    }
p{
    position:absolute;
    top: 80%;
    left:27%;
    color:white;
}


.mouse{
    position:absolute;
    bottom: -8%;
    right: 50%;
 }

 .about{
     text-align: center;
     line-height:25px;
     color: #383838;
     height: 400px;
     
 }

 h3{
    padding: 5px;
    font-size: 64px;
    font-weight:400;
    color: #383838;
    margin-bottom:40px;
 }

 .servs {
  color: white;
  position:relative;
  
}

.inns {
  top: 50%;
  text-align: center;
  line-height:25px;
  margin-top: -390px;
}
 h4{
   font-size:64px;
   font-weight:400;
   margin-top:150px;
 }

  .all{
    margin-top: -10px;
  }

  h5{
    text-align: center;
    font-size: 64px;
    font-weight: 400;
    color: #383838;
  }
 
  
  .first{
    margin-left:250px;
    width:8%;
    height:auto;
    display:inline-block;
    align:left;
  }

  .deeds{
  display: flex;
  text-align: center;
  }

 h6{
   font-size: 20px;
   font-weight: 400;
   color: #383838;
   font-style:normal;
   margin-top: 10px;
 }



.heder{
 font-weight: 400;
 font-size: 64px;
 color: #383838;
 margin-left:470px;
}


 .porto{
   width:23%;
   height:auto;
   display: flex;
   flex-direction: row;
 }

 .ports{
  width:23%;
  height:auto;
  display: flex;
  flex-direction: row;
 }


 .inout{
   margin-bottom:0px;
 }
 .soc{
   width:20%;
   height:auto;
 }