body{
    height:100%;
    font: size 100%;
    box-sizing:border-box;
    font-family:sans-serif;
    background-color:aliceblue;

}

img{
width: 100%;
opacity: 5;

}

.logo{
position: absolute;
top: 20%;
left: 47%;
}

h1{
position: absolute;
top: 47%;
left: 50%;
color:white;
font-size:64px;
transform: translate(-50%, -50%);
font-weight: 400;
font-style: normal;
}

h2{
    position:absolute;
    top: 60%;
    left: 50%;
    color:white;
    font-size:64px;
    transform: translate(-50%, -50%);
    font-style:normal;
    font-weight: 400;
    }
p{
    position:absolute;
    top: 80%;
    left:27%;
    color:white;
}


.mouse{
    position:absolute;
    bottom: -8%;
    right: 50%;
 }

 .about{
     text-align: center;
     line-height:29px;
     color: #383838;
     height: 200px;
 }
 
 h3{
    padding: 15px;
    font-size: 64px;
    font-weight:400;
    color: #383838;
 }

.inns{
    z-index: 3;
    position: relative;
    text-align: center;
    color: #fff;
    line-height:25px;
    margin-top: -390px
}
h4{
    font-size: 64px;
    font-weight:400;

}


