body{
    height:100%;
    font: size 100%;
    box-sizing:border-box;
    font-family:sans-serif;
}

img{
width: 100%;
opacity: 5;

}

.logo{
position: absolute;
top: 30%;
left: 45%;
}



h1{
position: absolute;
top: 55%;
left: 50%;
color:white;
font-size:64px;
transform: translate(-50%, -50%);
font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  }

h2{
    position:absolute;
    top: 70%;
    left: 50%;
    color:white;
    font-size:64px;
    transform: translate(-50%, -50%);
    font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    }
p{
    position:absolute;
    top: 85%;
    left:27%;
    color:white;
    font-family:"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}


.mouse{
    position:absolute;
    top: 100%;
    right: 50%;
 }